{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <script>
         function closeAlert() {
             document.getElementById("notif").style.display = "none";
         }

    </script>
</head>
<body>
    <div id="pass_reset_background">
<h2 class="sub_head" id="pass_reset_head">PASSWORD RESET:</h2>
 {% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success" id="notif">
      <button type="button" class="close" data-dismiss="alert" onclick="closeAlert()">
      ×
      </button>
      <strong>{{message}}</strong>
    </div>
 {% endfor %}
{% endif %}
  <div class="admin">
 <form method="POST" action="{% url 'Admin Module- Password Reset' %}" >
     {% csrf_token %}
 {{ pass_reset_form.as_p }}
<input type="submit" value="Reset Password">
 </form>
  </div>
</div>

</body>
</html>